<style>

.required label:after{
  content:" *";
  color: red;
  font-weight: bold;
}

</style>

<template>
    <v-flex
    xs12
    :md1="md1"
    :md2="md2"
    :md3="md3"
    :md4="md4"
    :md5="md5"
    :md6="md6"
    :md7="md7"
    :md8="md8"
    :md9="md9"
    :md10="md10"
    :md11="md11"
    :md12="md12"
    >

        <v-text-field
        :class="required ? 'required' : ''"
        :box="box"
        :solo="solo"
        :outline="outline"
        :disabled="disabled"
        :readonly="readonly"
        :clearable="clearable"
        mask="######## ####"
        :label="label"
        :placeholder="placeholder"
        :error-messages="error"
        @input="handleInput"
        :value="value"
        :rules="validate()"
        :required="required"
        ></v-text-field>

    </v-flex>
</template>

<script>

const locale = {
    "required": {
        "en_EN": "Required",
        "nb_NO": "Påkrevd",
        "sv_SE": "Obligatorisk"
    },
    "invalid": {
        "en_EN": "Invalid ssn",
        "nb_NO": "Ugyldig fødselsnummer",
        "sv_SE": "Ogiltigt ssn"
    }
}

const validEmail = (email) => {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

export default {
    name: 've-ssn-se',
    props: {
        value: [String, Number],
        label: String,
        box: Boolean,
        solo: Boolean,
        outline: Boolean,
        disabled: Boolean,
        readonly: Boolean,
        clearable: Boolean,
        prependIcon: String,
        prependInnerIcon: String,
        appendIcon: String,
        appendOuterIcon: String,
        placeholder: String,
        mask: String,
        browserAutocomplete: Boolean,
        required: {
            type: Boolean,
            default: false
        },
        md1: String, md2: String, md3: String, md4: String, md5: String, md6: String, md7: String, md8: String, md9: String, md10: String, md11: String, md12: String
    },

    data() {
        return {
            error: ''
        }
    },

    methods: {

        handleInput(e) {
            this.$emit('input', e);
        },

        __(key) {
            if(!locale[key])
                return '...'
            
            if(!locale[key][this.$root.locale])
                return locale[key]['en_EN']

            return locale[key][this.$root.locale]
        },

        validate() {
            return [
                v => !(this.required && (!v || v.length == '')) || this.__('required'),
                v => !(!v || v.length < 11) || this.__('invalid'),
                v => (v && this.validSsn(v)) || this.__('invalid')
            ]
        },

        validSsn(ssn) {
            
            const getYear = (y) => { return (y < 1000) ? y + 1900 : y }
            const isDate = (year, month, day) => {
                month = month - 1
                let tmpDate = new Date(year,month,day)
                if((getYear(tmpDate.getYear()) == year) && (month == tmpDate.getMonth()) && (day == tmpDate.getDate()))
                    return true
                else
                    return false
            }

            let numbers = ssn.match(/^(\d)(\d)(\d)(\d)(\d)(\d)(\d)(\d)(\d)(\d)(\d)(\d)$/);
            let checkSum = 0;

            let d = new Date();
            if (!isDate(ssn.substring(0,4), ssn.substring(4,6), ssn.substring(6,8))) {
                return false;
            }

            if (numbers == null) { return false }

            let n
            for (let i = 3; i <= 12; i++)
            {
                n=parseInt(numbers[i])
                if (i % 2 == 0) {
                checkSum += n
                } else {
                checkSum += (n*2) % 9 + Math.floor(n/9) * 9
                }
            }

            if (checkSum % 10 == 0) { return true }
            return false

        }

    }

}

</script>